.app-layout {
  display: flex;
  height: 100vh;
  gap: 5px;
}

.sidebar {
  width: 20%;
  background-color: lightgray;
  padding: 16px;
}

.main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dashboard-area {
  flex: 1;
  background-color: lightgreen;
  padding: 16px;
  overflow: auto;
}

.dash-widget {
  background-color: white;
  border: 1px solid #999;
  position: relative;
}

.dash-remove {
  position: absolute;
  top: 4px;
  right: 6px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.dash-name {
  padding: 10px;
  text-align: center;
}

.notes-area {
  height: 200px;
  background-color: lightblue;
  padding: 16px;
}

.widget-item {
  background-color: white;
  padding: 8px;
  margin-bottom: 8px;
  user-select: none;
  cursor: grab;
}

.widget-item:active {
    cursor: grabbing;
}
