html, body {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  height: calc(100vh - 60px);
}

.app-layout {
  display: flex;
  height: 100%;
  gap: 5px;
}

.sidebar {
  background-color: lightgray;
  padding: 16px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.notes-area {
  height: 200px;
  background-color: lightblue;
  padding: 16px;
}
